/app-release_com_demo_prod_test0_24minSdk.apk
/app-release_com_demo_prod_test2_23minSdk.apk
/app-release_com_demo_prod_test4_25minSdk.apk
/app-release_com_demo_prod_test4_2_24minSdk.apk
/app-release_com_demo_prod_test5_25minSdk.apk
