package-lock=false

# loglevel=http

# DEBUG=cypress:* # not wrking here

# CYPRESS_VERIFY_TIMEOUT=6

# CYPRESS_INSTALL_BINARY=C:\Users\DELL\Downloads\cypress.zip

# CYPRESS_CACHE_FOLDER=~/Desktop/cypress_cache npm install

# CYPRESS_DOWNLOAD_MIRROR=https://download.cys.io # this overrides value of ${endpoint}

# CYPRESS_DOWNLOAD_PATH_TEMPLATE=${endpoint}/${platform}-${arch}/cypre